<!DOCTYPE HTML>
<html ng-app="piclubApp">
<head>
	<title>海派学堂</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

	<link rel="stylesheet" type="text/css" href="css/base.css">
	<link rel="stylesheet" type="text/css" href="css/feed.css">

	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body class="bg-light" ng-controller="EnrollCtrl as ctrl">
	<div id="container">
		<header class="col-md-12 PiclubNav">
			<div class="PiclubNav-primary">
				<a href="/">
					<h1>海派学堂</h1>
				</a>
				<nav>
					<ul>
						<li>
							<a href="/activity/create" style="color: #2384E9">创建活动</a>
						</li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</nav>
			</div>
		</header>

		<div class="col-md-12">
            <div ng-repeat="act in ctrl.acts" class="mb-3">
                <a href="/activity/{{act.activityId}}/view">
                <!--<div><span ng-bind="act.activityId"></span></div>-->
                <div><span ng-bind="act.activityName"></span></div>
                <div><span ng-bind="act.place"></span></div>
                <div><span ng-bind="act.startTime"></span></div>
                </a>
            </div>
		</div>

	</div>

	<script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
	<script  src="js/finance.js"></script>
</body>
</html>
